.h-100 {
    background: linear-gradient(200deg, rgb(153, 0, 255), #4e76ac, rgb(97, 201, 178));
    background-size: 600% 600%;
    background-attachment: fixed;
    height: 100%;
    min-height: 100%;
    animation: TackyGradient 12s ease infinite;
  }
  html * {
     font-family: sans-serif !important;
  }
  @keyframes TackyGradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

.card {
    text-align: left;
    border: grey solid 1px;
    padding: 1rem;
    width: 40rem;
    height: 50rem;
    display: inline-grid;
    margin: 1rem 2rem;
    align-self: center;
    /* box-shadow: 3px 4px #4682B4 */
}

.post-avatar {
    justify-self: center;
    height: 25rem;
    width: auto;
}

#post-container {
    display: flex;
    align-items: center;
}